
@{
    ViewData["Title"] = "OrderComplete";
}

    <section class="default">

        <h1>Thank you for shopping with us</h1>
        <h2>Your order is complete</h2>
        <div></div>
        <a asp-controller="product" asp-action="index">Continue Shopping</a>
    </section>

